.inputGroup {
    margin-bottom: 1rem;
  }
  
  .inputLabel {
    font-weight: lighter;
    font-size: larger;
    margin-bottom: 0.5rem !important;
  }
  
  .inputControl {
    color: #6E7F94 !important;
    background-color: #D9D9D9 !important;
    border-radius: 20px !important;
    padding: 0.5rem !important;
    padding-left: 15px !important;
  }