.customModalDialog {
  max-width: 400px !important;
}

.customModalContent {
  border-radius: 20px !important;
  padding: 20px !important;
  background-color: rgba(121, 170, 212, 0.9) !important;
}

.customModalHeader {
  border-bottom: none !important;
}

.customModalTitle {
  display: flex !important;
  color: white !important;
}

.customModalBody {
  color: white;
}

.customModalFooter {
  border-top: none !important;
  display: flex;
  justify-content: flex-end;
  gap: 10px !important;
}

.btn {
  border-radius: 20px !important;
}
