.buttonWpp {
    background-color: #25D366; /* Cor do WhatsApp */
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonWpp:hover {
    background-color: #189b4c;
  }
  
  .buttonContent {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .wppIcon {
    width: 35px;
    height: 35px;
  }

  .buttonLabel{
    text-align: left;
    margin-left: 10px;
  }
  
  .buttonLabel p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
  }
  
  .buttonLabel h5 {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
  }

  .btn {
    border-radius: 20px !important;
    width: 100%;
    margin: 20px 0 0px 0;
    border: none !important;
  }

  .btn:hover {
    background-color: #189b4c !important;
  }
  
  @media (max-width: 768px) {
    .buttonWpp {
      padding: 10px 20px;
    }
  
    .wppIcon {
      width: 20px;
      height: 20px;
    }
  
    .buttonLabel p {
      font-size: 12px;
    }
  
    .buttonLabel h5 {
      font-size: 16px;
    }
  }
  