main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
}

.section1 {
    width: 100%;
    min-height: 30vh;
    height: auto;
    background-color: #000B1B;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

}

.waveContainer {
    position: absolute;
    flex-shrink: 0;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* ou o valor que desejar */
    transform: rotate(180deg);
    /* Inverte verticalmente */
}

.section2 {
    width: 100%;
    background-color: #073673;
    height: auto;
    z-index: 1;
    padding: 50px 10px 0 10px;
}

.HeadIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatCardWithIcon {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .chatIcon {
    width: 120px;
    margin-bottom: 50px;
  }  

.secondArea {
    background-color: #000B1B;
    height: 80vh;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pageTitle {
    color: azure;
    font-weight:900;
    font-family: 'Lato', sans-serif;
    margin-bottom: 80px;
}

.wppBtn {
    margin-top: 50px;
}

@media (width > 1024px) {

    body,
    html {
        margin: 0;
        padding: 0; 
        background: #34343F;
    }

    main {
        flex-direction: row;
        width: 100%;
        max-height: 100vh;
        height: auto;
    }

    .section1 {
        width: 60%;
    }

    .section2 {
        width: 40%;
    }

}